    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    html,body{
        height: 100%;
        background-color: black;
    }

    .container{
        max-width: 800px;
        padding: 0 2%;
        margin: 0 auto;
    }

    .clear{
        clear: both;
    }

    .dm{
        display: none;
    }

    .mw{
        display: none;
    }


    .botao-bottom button{
        cursor: pointer;
        width: 100%;
        padding: 15px;
        background-color: black;
        color: white;
        font-weight: 700;
        font-size: 20px;
        margin-top: 100px;
        border: 4px solid white;
        transition: all 0.5s;
    }

    .botao-bottom button:hover{
        background-color: white;
        color: black;
        border: 4px solid black;
    }

    .title{
        width: 100%;
    }

    .title h2{
        color: white;
        font-size: 70px;
    }

    .title p{
        color: white;
        margin-top: 4px;
        font-size: 40px;
        font-weight: 200;
    }

    .title img{
        position: absolute;
        top: 150px;
        left: 58%;
    }

    x{
        color: rgb(255, 255, 255);
    }

    y{
        color: rgb(255, 0, 0);
    }

    z{
        color: rgb(59, 59, 59);
    }


    /***/

    header{
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo{
        width: 100px;
        height: 60px;
        transition: all 0.3s;
    }

    .logo img{
        width: 100%;
        height: 100%;
    }

    .logo:hover{
        padding: 4px;
    }

    .menu{

    }

    .menu ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .menu ul li{
        margin: 0px 15px;
    }

    .menu ul li a{
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 19px;
        transition: all 0.3s;
    }

    .menu a:hover {
        color: rgb(85, 85, 85);;
    }

    .menu > ul > li.selected > a,
    .footermenu > ul > li.selected > a{
        color: rgb(85, 85, 85);;
    }

    .botaomenu{
    }

    .botaomenu a{
        color: black;
        text-decoration: none;
        background-color: white;
        font-weight: 600;
        padding: 10px;
        transition: all 0.3s;
    }

    .botaomenu:hover a{
        background-color: rgb(85, 85, 85);;
        color: white;
    }

    /***/

    section.bg{
        height: 100%;
    }

    .bg > .container{
        max-width: 100%;
        padding: 0;
    }

    .bg-img{
        height: 200vh;
        background-image: url('../images/bg.jpg');
        background-size: cover;
        background-position: center;
    }

    .bg-text{
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }

    .bg-text h2{
        font-weight: 700;
        font-size: 80px;
    }

    .bg-text p{
        font-size: 60px;
        font-weight: 100;
    }

    /***/

    section.serviços{
        padding-top: 400px;
    }

    .serviços > .container{
        max-width: 80%;
    }

    .serviços-wrapper{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .serviços-single{
        background: white;
        border: solid transparent;
        box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.4);
        width: 30%;
        height: 450px;
        padding: 40px;
        transition: all 0.1s;
    }

    .serviços-single:hover{
        border: 8px solid black;
    }

    .serviço-text{
        text-align: center;
    }

    .serviço-text img{
        width: 60%;
        height: 150px;
        margin-bottom: 30px;
    }

    .serviço-text h2{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .serviço-text p{
        font-size: 20px;
    }

    /***/

    section.projetos{
        padding-top: 200px;
    }

    .projetos > .container{
        max-width: 80%;
    }

    .projetos-wrapper{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .projetos-single{
        width: 30%;
    }

    .projetos-single img{
        padding: 10px;
        width: 500px;
        height: 400px;
    }

    /***/

    section.contato{
        padding-top: 200px;
    }

    .contato > .container{
        max-width: 80%;
    }

    .contato-wrapper{
        padding-top: 100px;
    }

    .contato-single{
        margin: 30px;
    }

    .contato-text{
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
    }

    .contato-text i{
        margin-right: 50px;
        font-size: 30px;
    }

    .contato-text h2{
        font-size: 20px;
    }

    /*.drop{
        position: relative;
    }

    .drop ul{
        display: none;
        position: absolute;
        height: 140px;
        padding: 80px;
        margin: 100px;
    }*/

    .contato-text:hover{
        color: rgb(82, 82, 82);
    }

    /***/

    footer{
        margin-top: 200px;
        width: 100%;
        background-color: white;
    }

    footer > .container{
        max-width: 100%;
        padding: 0;
    }

    .footer1{
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid rgb(92, 92, 92);
    }

    .footer1 h2{
        font-size: 30px;
        transition: all 0.5s;
    }

    .footer1 h2:hover{
        font-size: 28px;
    }

    .footermenu{
    }

    .footermenu ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footermenu ul li{
        margin: 0px 15px;
    }

    .footermenu ul li a{
        color: black;
        text-decoration: none;
        font-weight: 400;
        font-size: 17px;
        transition: all 0.3s;
    }

    .footermenu a:hover {
        color: rgb(44, 44, 44);;
    }

    .footer1 a{
        text-align: center;
        color: black;
    }

    .footer2{
        text-align: center;
        padding: 15px;
    }

    .footer2 h2{
        font-size: 13px;
        font-weight: 400;
    }

    /********************/

    section.sprojetos{
        padding-top: 200px;
    }

    .sprojetos > .container{
        max-width: 80%;
    }


    .sprojetos-wrapper{
        max-width: 95%;
        padding-top: 100px;
        margin: 0 auto;
    }

    .sprojetos-single{
        margin: 10px;
        flex-wrap: wrap;
    }

    .sprojetos-single img{
        width: 100%;
        height: 100%;
        transition: all 0.8s;
    }

    .sprojetos-single img:hover{
        padding: 8px;
    }


    .sprojetos-linha1{
        margin: 0 auto;
        display: flex;
        height: 500px;
    }

    .sprojetos-linha2{
        margin: 0 auto;
        display: flex;
        height: 300px;
    }

    .sprojetos-linha3{
        margin: 0 auto;
        display: flex;
        height: 500px;
    }

    section.scontato{
        padding-top: 200px;
    }

    .scontato > .container{
        max-width: 80%;
    }

    .scontato-wrapper{
        width: 50%;
        padding-top: 100px;
        float: left;
    }

    .scontato-wrapper > h2{
        color: white;
        font-weight: 400;
        padding-bottom: 30px;
    }

    .scontato-single{
        width: 100%;
    }

    .scontato-single span{
        display: inline-block;
        width: 100%;
        color: white;
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 5px;
    }

    .scontato-single input{
        height: 40px;
        width: 80%;
        margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid rgb(77, 77, 77);
        outline: none;
        color: white;
        padding-left: 10px;
    }

    .scontato-single textarea{
        background-color: transparent;
        border: 1px solid rgb(77, 77, 77);
        height: 130px;
        width: 80%;
        resize: vertical;
        outline: none;
        margin-bottom: 20px;
        color: white;
        padding: 10px;
    }

    .scontato-wrapper input[type="submit"]{
        cursor: pointer;
        background-color: transparent;
        border: 3px solid rgb(255, 255, 255);
        padding: 10px;
        color: white;
        font-size: 17px;
        font-weight: 600;
        width: 80%;
    }

    .scontato-img{
        margin-top: 100px;
        float: right;
        width: 50%;
        height: 450px;
    }

    .scontato-img img{
        width: 100%;
        height: 100%;
    }

    section.sparceiros{
        padding-top: 200px;
    }

    .sparceiros > .container{
        max-width: 80%;
    }

    .sparceiros-wrapper{
        padding-top: 100px;
        margin: 0 auto;
    }

    .sparceiros-single{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: all 0.3s;
        border: 2px solid white;
        margin: 15px;
    }

    .sparceiros-single:hover{
        background-color: rgb(17, 17, 17);
    }


    .sparceiros-linha1{
        margin: 0 auto;
        display: flex;
        height: 300px;
        margin-bottom: 15px;
    }

    .sparceiros-linha2{
        margin: 0 auto;
        display: flex;
        height: 300px;
    }

    .sparceiro-text{
        color: white;
    }

    .sparceiro-text h2{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .sparceiro-text p{
        font-size: 20px;
        font-weight: 200;
    }

    /********************/

    /***/

    @media screen and (max-width: 1680px){
        .serviços-single{
            padding: 35px;
        }

        .serviços-single:hover{
            border: 6px solid black;
        }
        
        .projetos-single img{
            width: 400px;
            height: 300px;
        }

        
    }

    /***/

    @media screen and (max-width: 1440px){
    .serviços-single{
            padding: 25px;
            transition: all 0.1s;
        }
        
        .serviços-single:hover{
            border: 4px solid black;
        }
        
        .serviço-text img{
            width: 70%;
            margin-bottom: 20px;
        }
        
        .serviço-text h2{
            margin-bottom: 20px;
        }
        
        .projetos-single{
            width: 40%;
        }
    
        .sprojetos-wrapper{
            max-width: 100%;
        }

        .sprojetos-linha1{
            height: 400px;
        }

        .title img{
            left: 50%;
        }
    }

    /***/

    @media screen and (max-width: 1024px){
        .serviços-wrapper{
            justify-content: center;
        }
        .serviços-single{
            padding: 40px;
            text-align: center;
            width: 80%;
            height: 400px;
            margin: 20px;
        }

        .serviços-single:hover{
            border: 6px solid black;
        }
        
        .serviço-text img{
            width: 50%;
        }

        .projetos-wrapper{
            justify-content: center;
        }

        .projetos-single{
            text-align: center;
            width: 60%;
            margin: 20px;
            height: 400px;
        }

        .projetos-single img{
            width: 100%;
            height: 100%;
        }

        .sprojetos-linha1{
            height: 400px;
        }

        .title img{
            left: 45%;
            top: 25%;
            width: 50%;
        }

        .sprojetos-linha1{
            height: 300px;
        }

        .sprojetos-linha2{
            height: 200px;
        }

        .sprojetos-linha3{
            height: 300px;
        }

        .sparceiros-linha1{
            height: 250px;
        }
    
        .sparceiros-linha2{
            height: 300px;
        }

        .sparceiros-single{
            padding: 10px;
        }

        .dws{
            display: none;
        }

        .mws{
            width: 100%;
            padding-top: 100px;
        }

        .mws > .sparceiros-single{
            height: 200px;
        }
    }

    /***/

    @media screen and (max-width: 768px){
        .bg-text h2{
            font-size: 70px;
        }
        
        .bg-text p{
            font-size: 50px;
        }

        .serviços-single{
            width: 100%;
        }

        .projetos-single{
            width: 100%;
            margin: 20px 0;
        }

        .botaomenu{
            margin-top: 25px;
        }
        
        .footer1 h2{
            margin-bottom: 20px;
        }
        
        .footermenu ul li{
            margin-bottom: 20px;
        }
        
        .footermenu ul li a{
            color: black;
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
            transition: all 0.3s;
        }
        
        .footer1 > a{
            margin-top: 10px;
        }

        .title img{
            display: none;
        }

        .dw{
            display: none;
        }
        
        .mw{
            display: block;
            width: 80%;
        }
    
        .scontato-wrapper{
            width: 100%;
            float: none;
        }
    
        .scontato-single input{
            width: 100%;
        }
    
        .scontato-single textarea{
            width: 100%;
        }
    
        .scontato-wrapper input[type="submit"]{
            width: 100%;
        }
    
        .scontato-img{
            display: none;
        }
        
    }

    /***/

    @media screen and (max-width: 650px){
        .serviços-single{
            padding: 30px;
            height: 400px;
        }

        .serviço-text img{
            height: 130px;
        }
        
        .serviço-text p{
            font-size: 18px;
        }

        .serviço-text img{
            width: 70%;
        }
    }

    /***/

    @media screen and (max-width: 500px){
        .serviços-single{
            padding: 30px;
            height: 400px;
        }
        
        .serviço-text p{
            font-size: 18px;
        }

        .serviço-text img{
            width: 100%;
        }

        .projetos-single{
            height: 250px;
        }

        
    }

    @media screen and (max-width: 450px){
        .title h2{
            font-size: 65px;
        }
        
        .serviços-single{
            padding: 20px;
            height: 370px;
        }

        .serviços-single:hover{
            border: 2px solid black;
        }

        .serviço-text img{
            height: 130px;
            margin-bottom: 15px;
        }
        
        .serviço-text h2{
            font-size: 25px;
            margin-bottom: 15px;
        }
        
        .serviço-text p{
            font-size: 15px;
        }

        .serviço-text img{
            width: 100%;
        }
    }

    /***/

    @media screen and (max-width: 375px){
        .title h2{
            font-size: 60px;
        }
        
        .title p{
            font-size: 35px;
        }

        .bg-img{
            height: 150vh;
        }
        
        .bg-text{
            top: 50%;
        }
        
        .bg-text h2{
            font-size: 70px;
        }
        
        .bg-text p{
            font-size: 50px;
        }

        .serviços-single{
            padding: 20px;
            height: 370px;
        }

        .serviços-single:hover{
            border: 2px solid black;
        }

        .serviço-text img{
            height: 130px;
            margin-bottom: 15px;
        }
        
        .serviço-text h2{
            font-size: 25px;
            margin-bottom: 15px;
        }
        
        .serviço-text p{
            font-size: 15px;
        }

        .serviço-text img{
            width: 100%;
        }

        .projetos-single{
            height: 200px;
            margin: 10px 0;
        }

        .contato-text i{
            margin-right: 20px;
            font-size: 25px;
        }
        
        .contato-text h2{
            font-size: 18px;
        }
    }

    /***/

    @media screen and (max-width: 320px){
        .container{
            padding: 1%;
        }
        .title h2{
            font-size: 50px;
        }
        
        .title p{
            font-size: 30px;
        }

        .bg-text{
            top: 60%;
        }
        
        .bg-text h2{
            font-size: 60px;
        }
        
        .bg-text p{
            font-size: 40px;
        }

        .serviços-single{
            padding: 10px;
            height: 340px;
        }

        .serviços-single:hover{
            border: 1 solid black;
        }

        .projetos-single{
            height: 230px;
        }
    }

    /***/

    @media screen and (max-width: 315px){
        body{
            overflow: hidden;
        }
    }