/*estilos gerais
 * //estilos gerais */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

html, body {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

.container {
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto; }

.title {
  color: white;
  padding: 50px 0px; }

.title h2 {
  font-size: 28px; }

.clear {
  clear: both; }

.w50 {
  padding: 0 20px;
  width: 50%; }

.left {
  float: left; }

input[type=text],
input[type=email],
input[type=button],
input[type=submit],
input[type=password],
textarea {
  -webkit-appearance-: none;
  border: 1px solid #000;
  border-radius: 0; }

/*estilos header
 * //estilos header */
header {
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1); }

.logo {
  width: 100px;
  height: 90px;
  float: left; }

.logo img {
  width: 100%;
  height: 100%; }

.desktop {
  float: right; }

.desktop ul {
  list-style-type: none; }

.desktop ul li {
  display: inline-block;
  margin: 30px; }

.desktop ul li a {
  text-decoration: none;
  color: white; }

.mobile {
  display: none;
  float: right;
  width: 100%; }

.botao-menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 30px;
  padding-right: 30px; }

.botao-menu-mobile i {
  color: white;
  font-size: 30px; }

.mobile ul {
  display: none;
  margin-top: -15px;
  width: 100%;
  list-style-type: none;
  text-align: center; }

.mobile ul li {
  padding: 8px;
  border-bottom: 1px solid black;
  background: white;
  width: 100%; }

.mobile ul li a {
  font-weight: 500;
  padding: 8px 50px;
  text-decoration: none;
  color: #323232;
  width: 100%;
  transition: all 0.5s; }

.mobile ul li a:hover {
  color: #161616; }

/*estilos bg
 * //estilos bg */
section.bg {
  height: 100vh; }

.bg > .container {
  max-width: 100%;
  padding: 0; }

.fundo {
  z-index: 2;
  position: absolute;
  background: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.2; }

.bg-container{
  display: block;
  width: 100%;
  height: 100vh;
  position: relative; }

.banner-single{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height:100vh;
  opacity: 0;
  background-size: cover;
  background-position: center; }

.banner-single > .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(51,51,51,0.7); 
}

.banner-mobile{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  display: none;
}
  
.bullets{
  display: block;
	position: absolute;
  top: 90%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.bullets span{
	margin:0 10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
}

.bullets span.active-slider{
	background: rgba(255, 255, 255, 0.5);
}

.bg-text {
  display: none;
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 8%;
  color: white; }

.bg-text h2 {
  font-size: 30px; }

.bg-text p {
  font-size: 20px;
  margin-bottom: 14px; }

.bg-text a {
  display: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: all 0.3s; }

.bg-text a:hover {
  display: none;
  padding: 12px;}

/*estilos sobre
 * //estilos sobre */
section.sobre {
  padding-bottom: 50px; }

.sobre-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.sobre-dots {
  z-index: 2;
  position: relative;
  top: -50px;
  padding: 30px;
  background: white;
  box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.3);
  width: 27%;
  height: 240px;
  margin: 0 20px; }

.sobre-text {
  text-align: center; }

.sobre-text i {
  font-size: 25px;
  margin-bottom: 4px; }

.sobre-text h2 {
  margin-bottom: 4px; }

.sobre-info {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.sobre-it {
  width: 50%;
  text-align: justify; }

.sobre-img {
  width: 50%; }

.sobre-img img {
  margin-left: 220px;
  width: 400px;
  margin-top: -30px; }

.sobre-it h2 {
  margin-bottom: 30px; }

/*estlios produtos
 * /estilos projetos */
section.projetos {
  padding-bottom: 50px;
  background: #101112; }

.projetos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.projetos-single {
  padding: 20px; }

/*.projetos-single > .overlay{
  z-index: 1;
  position: absolute;
  background: black;
  width: 400px;
  height: 300px;
  opacity: 0;
  transition: all 0.5s; }

.projetos-single > .overlay:hover {
  opacity: 0.4; }*/

.projetos-single img{
  opacity: 1;
  width: 400px;
  height: 300px; 
  transition: all 0.4s; }

.projetos-single:hover img{
  opacity: 0.6; }

/*estilos img projetos
 * //estilos img projetos */

/*estilos depoimentos
 * //estilos depoimentos */
section.extras {
  padding-bottom: 50px;
  background: #252525; }

#depoimentos{
  width: 100%;
}

#servicos{
  width: 100%;
}

.servicos-container,
.depoimentos-container {
  text-align: center;
  padding-bottom: 50px; }

.servicos-container > .title,
.depoimentos-container > .title{
  padding: 50px 0px 20px 0px; }

.depoimentos-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.servicos-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.servicos-img{
  height: 300px;
  width: 40%;
}

.servicos-img img{
  height: 100%;
  width: 100%;
}

.depoimento-single {
  text-align: center;
  width: 33.3%;
  padding: 15px 0px;
  border: 4px solid transparent;
  border-bottom: 1px solid black; }

.depoimento-single img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px; }

p.depoimento-descricao {
  font-size: 15px;
  color: white;
  font-weight: 300; }

p.nome-autor {
  font-size: 15px;
  color: white;
  margin-top: 5px; }

/*estilos servicos
 * //estilos servicos */
.servicos ul {
  margin: 20px 0px; }

.servicos li {
    text-align: left;
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
  font-weight: 300; }

/*estilos contato
 * //estilos contato */
.contato-wrapper {
  padding-bottom: 50px;
  display: flex;
  text-align: center;
  width: 100%; }

.contato-left {
  width: 20%;
  height: 500px;
  background-image: url("../images/contato.jpg");
  background-size: 100% 100%;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.4); }

.contato-rigth {
  display: inline-block;
  width: 80%;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.4); }

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 10px;
  margin: 10px;
  outline: none; }

textarea {
  width: 80%;
  height: 120px;
  padding: 10px;
  margin: 10px;
  outline: none;
  resize: none; }

input[type="submit"] {
  width: 200px;
  color: white;
  background: #202020;
  padding: 10px;
  border: 0;
  cursor: pointer;
  transition: 0.5s; }

input[type="submit"]:hover {
  color: #202020;
  background: #c2c2c2; }

/*estilos links uteis
 * //estilos links uteis */
section.links {
  padding: 2px;
  background: #101112; }

.links-wrapper {
  display: flex;
  border-bottom: 2px solid gray; }

.links-left {
  margin-right: 200px; }

.links-left > a,
.links-rigth > a {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  transition: all 0.5s; }

.links-left > a:hover,
.links-rigth > a:hover {
  color: gray; }

.links-logo {
  margin-left: 250px; }

.links-logo img {
  height: 250px; }

/*estilos footer
 * //estilos footer */
footer {
  height: 250px; }

.footer-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.footer-dados {
  color: white; }

.footer-dados a {
  padding: 40px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s; }

.footer-dados a:hover {
  color: gray; }

.footer-dados i {
  font-size: 40px; }

.footer-dados z {
  position: relative;
  top: -8px;
  left: 10px; }

.copyrigth {
  width: 100%;
  background: #212222;
  padding: 10px; }

.copyrigth p {
  text-align: center;
  color: white; }

/*responsive 1024px
 * //responsive 1024px */
@media (max-width: 1024px) {
  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .sobre-dots {
    width: 30%;
    height: 260px;
    margin: 0 10px; }

  .sobre-text i {
    font-size: 22px; }

  .sobre-text h2 {
    font-size: 22px; }

  .sobre-text p {
    font-size: 15px; }

  .sobre-info {
    margin-top: 30px; }

  .sobre-img img {
    margin-left: 100px; }

  .links-logo {
    margin-left: 180px; }

  .links-logo img {
    height: 200px; } }
/*responsive 768px
 * //responsive 768px */
@media (max-width: 768px) {

  .bg-container{
    display: none;
  }

  .banner-single{
    display: none;
}

    .banner-mobile{
      display: block;
    }

    .bg-text{
      display: block;
    }

    .bg-text a{
      display: inline-block;
    }

    .bg-text a:hover {
      display: inline-block;}

    .bullets{
      display: none;
    }

  .sobre-dots {
    width: 100%;
    height: 190px;
    margin: 10px; }

  .sobre-info {
    margin-top: 20px; }

  .sobre-img img {
    overflow-x: hidden;
    margin-left: 80px; }

  .servicos-container,
  .depoimentos-container {
    padding: 20px 50px;
    width: 100%; }

    .depoimento-single {
      width: 100%;}

  .servicos ul{
    list-style-type: none;
  }

.servicos li{
  text-align: center;
}

  .servicos-img{
    width: 100%;
    padding: 2%;
  }

  .contato-wrapper {
    padding: 10px auto;
    width: 100%; }

  .contato-left {
    width: 30%; }

  .contato-rigth {
    width: 70%; }

  .links-logo {
    margin-left: 50px;
    margin-top: 40px; }

  .links-logo img {
    height: 150px; }

  .footer-dados {
    padding: 20px; }

  .footer-dados a {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 30px; }

  .footer-dados i {
    font-size: 30px; }

  .footer-dados z {
    top: 2px; }

  .copyrigth p {
    font-size: 15px; } }
/*responsive 600px
 * //responsive 600px */
@media (max-width: 600px) {
  .bg-text {
    left: 4%; }

  .bg-text h2 {
    font-size: 28px; }

  .bg-text p {
    font-size: 17px; }

  .bg-text a {
    font-size: 14px; }

  section.sobre {
    padding-bottom: 0; }

  .sobre-it {
    width: 100%;
    padding: 0px 20px;
    text-align: center; }

  .sobre-img {
    overflow: hidden;
    text-align: center;
    width: 100%; }

  .sobre-img img {
    margin-top: 40px;
    margin-left: 0;
    position: relative;
    top: 5px; }

  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column; }

  .breadcrumb button {
    margin: 10px 0px; }

  .servicos-container,
  .depoimentos-container {
    text-align: center; }

  .links-logo {
    display: none; }

  .links-left {
    margin-left: 0px; }

  footer {
    width: 100%; } }
/*responsive 500px
 * //responsive 500px */
@media (max-width: 500px) {
  .title {
    text-align: center;
    padding: 30px 0px; }

  .sobre-dots {
    height: 220px; }

  .projetos-single {
    padding: 0px; }

  .projetos-single img {
    padding: 5px 50px; }

  .contato-left {
    width: 25%; }

  .contato-rigth {
    width: 75%; }

  .links-left {
    margin-right: 100px; } }
/*responsive 470px
 * //responsive 470px */
@media (max-width: 470px) {
  .links-wrapper {
    padding: 2%; } }
/*responsive 400
 * //responsive 400px */
@media (max-width: 400px) {
  .projetos-single {
    padding: 0px; } }
/*responsive 375px
 * //responsive 375px */
@media (max-width: 375px) {
  .bg-text h2 {
    font-size: 25px; }

  .bg-text p {
    font-size: 17px; }

  .bg-text a {
    font-size: 14px; }

  .sobre-dots {
    height: 220px; }

  .sobre-text i {
    font-size: 20px; }

  .sobre-text h2 {
    font-size: 20px; }

  .sobre-text p {
    font-size: 14px; }

  .sobre-img img {
    width: 300px; }

  .breadcrumb button {
    width: 100%;
    margin: 10px 0px; }

  .projetos-single > .overlay {
    width: 350px;
    height: 150px; }

  .projetos-single img {
    padding: 5px 30px;
    width: 350px;
    height: 150px; }

  .contato-left {
    width: 30%; }

  .contato-rigth {
    width: 70%; }

  .links-wrapper {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

  .links-left {
    margin-left: 0px;
    margin-right: 0px; }

  .copyrigth p {
    font-size: 14px; } }
/*responsive 360px
 * //responsive 360px */
@media (max-width: 360px) {
  .footer-dados i {
    font-size: 30px; }

  .footer-dados z {
    display: none; } }
/*responsive 320px
 * //responsive 320px */
@media (max-width: 320px) {
  .sobre-dots {
    height: 260px; }

  .breadcrumb button {
    margin: 5px 0px; }

  .projetos-single {
    padding: 10px 0px; }

  .projetos-single >   .overlay {
    width: 300px;
    height: 150px; }

  .projetos-single img {
    padding: 0px 30px;
    width: 300px;
    height: 150px; }

  .contato-left {
    width: 33%; }

  .contato-rigth {
    width: 67%; }

  input[type="submit"] {
    width: 120px; }

  .links-left,
  .links-rigth {
    text-align: center; }

  .footer-dados a {
    margin: 20px;
    font-size: 17px; }

  .footer-dados i {
    font-size: 30px; }

  .footer-dados z {
    top: 4px; } }

/*# sourceMappingURL=style.css.map */
