@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif; 
}

html, body{
scroll-behavior: smooth; 
}

body{
background: black;
}

.container{
max-width: 1280px;
padding: 0 2%;
margin: 0 auto; 
}

.title{
color: white;
padding: 50px 0px;
}

.title h2{
font-size: 28px;
}

.clear{
clear: both;
}

.w50{
padding: 0 20px;
width: 50%;
}

.left{
float: left;
}

/**/
header{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
    height: 60px;
    transition: all 0.3s;
}

.logo img{
    width: 100%;
    height: 100%;
}

.logo:hover{
    padding: 4px;
}

.menu{
}

.menu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu ul li{
    margin: 0px 15px;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 19px;
    transition: all 0.3s;
}

.menu a:hover {
    color: rgb(85, 85, 85);;
}

.menu > ul > li.selected > a,
.footermenu > ul > li.selected > a{
    color: rgb(85, 85, 85);
}

.botaomenu{
}

.botaomenu a{
    color: black;
    text-decoration: none;
    background-color: white;
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s;
}

.botaomenu:hover a{
    background-color: rgb(85, 85, 85);;
    color: white;
}

.title{
    width: 100%;
}

.title h2{
    font-size: 45px;
}

x{
    color: rgb(255, 255, 255);
}

z{
    color: rgb(85, 85, 85);
}

.title p{
    margin-top: 4px;
    font-size: 30px;
    font-weight: 300;
}

.homeimg{
    text-align: center;
    width: 100%;
    padding: 20px 20px 60px 20px;
}

.homeimg img{
    width: 70%;
}

.homefooter{
    padding: 20px;
    width: 100%;
}

.homefooter h2{
    color: white;
    font-size: 45px;
}

.homefooter p{
    margin-top: 4px;
    margin-bottom: 100px;
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.homefooterbotao{
    width: 100%;
    height: 40px;
    margin-bottom: 100px;
}

.homefooterbotao button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.homefooterbotao button:hover{
    color: black;
    background: white;
}

footer{
    width: 100%;
    background-color: white;
}

footer > .container{
    max-width: 100%;
    padding: 0;
}

.footer1{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.footer1 h2{
    font-size: 30px;
    transition: all 0.5s;
}

.footer1 h2:hover{
    font-size: 28px;
}

.footermenu{
}

.footermenu ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footermenu ul li{
    margin: 0px 15px;
}

.footermenu ul li a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    transition: all 0.3s;
}

.footermenu a:hover {
    color: rgb(44, 44, 44);;
}

.footer1 a{
    text-align: center;
    color: black;
}

.footer2{
    text-align: center;
    padding: 15px;
}

.footer2 h2{
    font-size: 13px;
    font-weight: 400;
}

@media screen and (max-width: 768px){
    .botaomenu{
        margin-top: 25px;
    }
    
    .homeimg img{
        width: 90%;
    }

    .footer1 h2{
        margin-bottom: 20px;
    }
    
    .footermenu ul li{
        margin-bottom: 20px;
    }
    
    .footermenu ul li a{
        color: black;
        text-decoration: none;
        font-weight: 400;
        font-size: 17px;
        transition: all 0.3s;
    }
    
    .footer1 > a{
        margin-top: 10px;
    }
    
}